<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include Analytics -->
    <%- include('partials/analytics') %>

    <!-- Include Static Meta Properties -->
    <%- include('partials/meta') %>

    <!-- Include Dynamic Meta Properties -->
    <%- include('partials/meta_dynamic') %>


    <title>Kerala Rehab Website | About Us</title>

    <!-- Include Styles -->
    <%- include('partials/styles') %>
    <link rel="icon" href="/asset/images/keralarehab-logo.png" type="image/png">
    <link href="/asset/css/style.css" rel="stylesheet">

</head>

<body class="d-flex flex-column min-vh-100">
   
     <!-- Include Navbar -->
     <%- include('partials/navbar') %>

    <!-- Page Content -->
    <div class="container text-center mt-5">
        <h2 class="mb-4">Kerala Rehab - Wayanad Landslide 2024 Aid Tracker</h2>
        <p class="mb-4">
            Welcome to Kerala Rehab, a dedicated platform for tracking and ensuring the fulfillment of offers and
            promises made by individuals, firms, and society to help the victims of the Wayanad Landslide 2024. Our
            mission is to ensure that all pledges of aid are met and that those in need receive the support they
            deserve.
        </p>
        <p class="mb-4">
            Our website is run by a committed group of volunteers who tirelessly collect, verify, and document data from
            various public sources. By doing so, we provide transparency and accountability, making sure that every
            promise is turned into action and every victim gets the help they need.
        </p>
        <p class="mb-4">
            Join us in our mission to make a difference. Explore the offers, see the impact, and contribute to the
            cause. Together, we can rebuild and restore the lives affected by this devastating event.
        </p>
        <p class="mb-4">
            <a href="https://t.me/keralarehab" class="btn btn-dark" target="_blank">
                <img src="asset/images/telegram-logo.png" alt="Telegram Logo" width="20" height="20" class="mr-2">
                Join Our Volunteer Telegram Group
            </a>
        </p>
        <p class="mb-4">
            <a href="https://github.com/keralarehab" class="btn btn-dark" target="_blank">
                <img src="asset/images/github-logo.png" alt="GitHub Logo" width="20" height="20" class="mr-2">
                Contribute to our GitHub Repo
            </a>
        </p>
        <p class="mb-4">
            <a href="https://www.facebook.com/profile.php?id=61564262333942&sfnsn=wiwspwa&mibextid=RUbZ1f" class="btn btn-dark" target="_blank">
                <img src="assets/image/facebook-logo.png" alt="Facebook Logo" width="20" height="20" class="mr-2">
                Follow our Facebook Page
            </a>
        </p>
    </div>

    <!-- Include Footer -->
    <%- include('partials/footer') %>

    <!-- Include Scripts -->
    <%- include('partials/scripts') %>

    <!-- Custom Script -->
</body>

</html>