<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include Analytics -->
    <%- include('partials/analytics') %>

    <!-- Include Static Meta Properties -->
    <%- include('partials/meta') %>

    <!-- Include Dynamic Meta Properties -->
    <%- include('partials/meta_dynamic') %>


    <title>Kerala Rehab Website | Contact Us</title>

    <!-- Include Styles -->
    <%- include('partials/styles') %>
    <link rel="icon" href="./asset/images/keralarehab-logo.png" type="image/png">
    <link href="./asset/css/style.css" rel="stylesheet">

</head>

<body class="d-flex flex-column min-vh-100">

    <!-- Include Navbar -->
    <%- include('partials/navbar') %>

    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <h1>Contact Us</h1>
                        <p class="mb-2">We'd love to hear from you. Click the button below to send us an email.</p>
                        <a href="mailto:contact@keralarehab.in" class="email-btn mb-4">Connect</a>
                        <div class="email">contact@keralarehab.in or keralarehab@gmail.com</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mb-4"></div>
    
    <!-- Include Footer -->
    <%- include('partials/footer') %>

    <!-- Include Scripts -->
    <%- include('partials/scripts') %>

    <!-- Custom Script -->
</body>

</html>