<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Include Analytics -->
    <%- include('partials/analytics') %>

    <!-- Include Static Meta Properties -->
    <%- include('partials/meta') %>

    <!-- Include Dynamic Meta Properties -->
    <%- include('partials/meta_dynamic') %>


    <title>Kerala Rehab Website | Submissions</title>

    <!-- Include Styles -->
    <%- include('partials/styles') %>
    <link rel="icon" href="./asset/images/keralarehab-logo.png" type="image/png">
    <link href="./asset/css/style.css" rel="stylesheet">

</head>

<body class="d-flex flex-column min-vh-100">
   
     <!-- Include Navbar -->
     <%- include('partials/navbar') %>

    <!-- Page Content -->
    <div class="container d-flex justify-content-center align-items-center">
        <div class="text-center">
            <p class="mt-4 mb-4">We appreciate what your support. Please ensure you have the following details ready for submission. </p>
            <ul class="list-group mb-4">
                <li class="list-group-item">Promise Given/വാഗ്ദാനം</li>
                <li class="list-group-item">Promiser Name/വാഗ്ദാനം നൽകിയ ആളുടെ പേര്</li>
                <li class="list-group-item">Date of Promise/വാഗ്ദാനം നൽകിയ തിയ്യതി</li>
                <li class="list-group-item">Details/വിശദാംശങ്ങൾ</li>
                <li class="list-group-item">Reference Links/ലിങ്കുകൾ</li>
            </ul>
       
            <p class="font-weight-bold mb-0 mt-4 mb-4">Before proceeding, please verify that the information you are about to add is not already available on  <a href="donations.html"> Existing Offers</a></p>
        
            <a href="https://forms.gle/yiCUD4DgBERtCzjL6" class="btn btn-primary" target="_blank">Click Here to Submit Details</a>
        </div>
    </div>
    <!-- Include Footer -->
    <%- include('partials/footer') %>

    <!-- Include Scripts -->
    <%- include('partials/scripts') %>

    <!-- Custom Script -->
</body>

</html>